.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #b250fb;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}
mark{
  font-weight: 900;
  color:white;
  background-color: transparent;
}